p{
    font-family: serif;
    text-indent: 25px;
}
body{
    background-color: #D9E0E2;
}
.topnav {
    background-color: #1F222B;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #F4F3F3;
    color: #1F222B;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #A4BCC4;
    color: white;
}
.navmenu{
    margin-left:auto;
    margin-right: auto;
    width: 100%;
    font-size: 28px;
    text-transform: uppercase;
    display: flex;
    justify-content: right;
}
.main{
    margin-top: 59px;
}
.wrapper {
    margin-right: auto; /* 1 */
    margin-left:  auto; /* 1 */
    max-width: 960px; /* 2 */
    padding-right: 10px; /* 3 */
    padding-left:  10px; /* 3 */
    background-color: #A4BCC4;
    padding: 30px;
    text-align: center;
}