p{
    font-family: serif;
}
body{
    background-color: #D9E0E2;
}
.topnav{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1F222B;
    overflow-x: hidden;
}
.topnav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
.main{
    margin-top: 100px;
    padding: 5px 0px;
}